.logo {
  max-width: 200px;
  margin-bottom: 20px;
}
.container {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 800px;
  margin: 20px auto;
  translate: 0 -100px;
}

